body{
  background-color:#00334d;
  color:white;
  font-size:24px
}
.container{
 width:80%;
 border: white 1px solid;
 padding:32px;
 
}

h1{
  color:white;
  text-transform:uppercase;
  
}
#feedback,#feedback2,#guessesLeft,#reveal,#hint{
  color:white;
  font-size:24px;
  padding:0px;
}
#loser,#winner{
  display:none;
}
.submitGuess,.playAgain{
  padding:10px;
  margin-top:10px;
  margin-bottom: 0px;
  background-color:teal;
  color:white;
  font-size:24px
  
}
.submitGuess:hover,.playAgain:hover{
  padding:10px;
  background-color:white;
  color:#00334d;
  font-size:24px
  
}
.hint{
  padding:10px;
  background-color:#00334d;
  color:white;
  font-size:18px
  
}
.btn2:hover{
  padding:10px;
  background-color:white;
  color:#00334d;
  font-size:16px
  
}
input {
    width: 100%;
}
